section{

  &.map{
    height: 464px;

    iframe{
      height: 100%;
    }
  }

  &.contactForm{
    margin-top: 161px;

    .columeTitle{

      h3{
        font-family: "Poppins-Bold";
        font-size: 39px;
        text-align: left;
        color: #000000;
        margin-bottom: 48px;
      }
    }
    .mainContactInfo{
      padding-top: 20px;
      h5{
        font-family: 'Poppins-Regular';
        font-size: 25px;
        color: black;
        margin-bottom: 15px;
      }
      p{
        font-size: 19px;
        font-family: 'Poppins-Light';
        margin-bottom: 40px;
      }
    }

    .mainForm{
      form{
        input, textarea{
          background-color: #EBEBEB;
          border: unset;
          border-radius: unset;
          padding: 23px 30px;
          resize: unset;
          margin-bottom: 30px;

          &::-webkit-input-placeholder{
            font-size: 19px;
            color: black;
            font-family: 'Poppins-Light';
          }
        }
        button{
          font-family: 'Poppins-Bold';
          font-size: 25px;
          padding: 19px 91px;
          color: white;
          background-color: $mainColor;
          border-radius: unset;
          border: unset;
          margin-top: 14px;
          margin-bottom: 207px;
        }
      }
    }
  }
}