@import "var";

@media screen and (max-width: 767px) and (min-width: 320px) {

  section {

    &.prices {
      padding-top: 50px;

      &:first-child {
        padding-top: 180px;
      }

      .priceText {
        padding-top: 80px;
        width: auto;

        h1 {
          font-size: 35px;
        }
        p {
          font-size: 18px;
        }
      }
    }

    &.cryptoHome {
      height: auto;
      background-position: left;

      .cryptoMarkets {
        margin-top: 100px;
        width: 100%;

        h1 {
          width: 100%;
          font-size: 30px;
        }
        ul {
          li {
            width: 100% !important;
            margin-right: 0 !important;

            a {
              color: black;
              font-size: 17px;
            }
          }
        }
      }
    }

    &.join-us {
      h3 {
        font-size: 24px;
      }
      .subscribe {
        form {
          flex-wrap: wrap;
          width: auto;

          input {
            width: 100%;
            margin-right: unset;
          }
          .submitBtn {
            margin: 25px auto;
            font-size: 18px;
          }
        }
      }
    }

    &.tutorials {
      .sectionTitle {
        padding-top: 60px;
      }
      .tuotrialsPart {
        height: auto;
        margin: 20px 0;

        .boxContent {

          h5 {
            margin: 30px 0 18px 0;
            font-size: 20px;
            height: 90px;
          }

          p {
            font-size: 17px;
          }
          a {
            font-size: 18px;
            padding-bottom: 30px;
          }
        }

      }
    }

    &.cryptocurrency {

      .sectionTitle {

        h1 {
          color: black;
          margin-bottom: 27px !important;
        }

        p {
          color: black;
          margin-bottom: 87px;
          font-size: 20px;
          font-family: 'Poppins-Light';
        }

      }

      .newToCryptocurrency {
        box-shadow: 0 0 1px 0 #707070;
        margin: 20px 0;

        p {
          font-family: 'Poppins-SemiBold';
          color: black;
          height: 300px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 25px;
        }

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 90px;
          text-align: center;
          font-size: 20px;
          font-family: 'Poppins-SemiBold';
          color: $mainColor;
          padding-bottom: 40px;
        }
      }
    }

    &.lastPost {
      margin: 137px 0;
      .lastPostContext {

        p {
          text-align: center;
          font-family: 'Poppins-Light';
          font-size: 20px;
          color: black;
          margin: 0 auto;
          width: 64%;
        }
      }
    }

    &.pricingType {
      margin-top: 100px;

      .checkPrice {
        ul {
          li {
            .radioButtons {
              display: unset;

              .rightSide {
                float: unset !important;
              }
              .checkContainer {
                padding-top: 10px;
                margin: unset;
                display: block;
                width: 100%;
                margin-top: 10px;
                padding-left: 65px;
                font-size: 30px;

                .checkmark {
                  top: 0;
                }
              }
            }
          }
        }
      }
      .starter {
        .mainPoints {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
        }
      }
    }

    &.asweredQuest {
      margin-bottom: 70px;

      .sectionTitle {
        h1 {
          color: black;
          margin-bottom: 90px;
        }
      }
      .quest {
        .question {
          font-size: 25px;
        }
      }
    }

    &.pricing {
      height: auto;
      background-position: top;
      padding: 33px 0;
    }

    &.signIn, &.signUp {
      background-image: unset;
      margin-bottom: 0;

      .loginWithOtherWay {
        flex-direction: column !important;

        span {
          display: flex;
          justify-content: center;

          &:nth-child(2) {
            margin: 20px 0;
          }
        }
      }

      .rightSideImg {
        display: none;
      }
    }

    &.page-wrap {

      .sectionTitle {
        width: 100%;
      }
    }

    &.newsPost {
      .mainPost {
        height: auto;
      }

      .post {
        padding: 1.5rem 1rem;

        .post__title {
          height: auto;
          font-size: 28px;
        }
      }
    }

    .signUpFace p {

      &:before {
        right: 0 !important;
      }
      &:after {
        left: 0 !important;
      }
    }

    .sectionTitle {
      padding-top: 70px;

      p {
        font-size: 20px;
      }
    }

  }

  .main-navbar {
    height: auto;
    padding: 10px 0 !important;
  }

  .sectionTitle {
    h1 {
      font-size: 30px;
    }
  }

}

@media screen and (max-width: 1600px) and (min-width: 1400px) {

  section {

    &.prices {
      padding-top: 50px;

      &:first-child {
        padding-top: 180px;
      }

      .priceText {
        padding-top: 80px;
        width: auto;

        h1 {
          font-size: 35px;
        }
        p {
          font-size: 18px;
        }
      }
    }

    &.cryptoHome {
      //margin-top: 180px;

      .cryptoMarkets {
        margin-top: 100px;

        h1 {
          width: 79%;
          margin-bottom: 66px;
          font-size: 45px;
        }
        ul {
          li {
            margin-right: 60px;
          }
        }
      }
    }

    &.join-us {
      .subscribe {
        form {
          flex-wrap: wrap;
          width: auto;
        }
      }
    }

  }
}

@media screen and (max-width: 1530px) and (min-width: 992px) {

  section {
    &.cryptoHome {
      .cryptoMarkets {
        ul {
          display: block !important;
          li {
            display: block !important;
            width: 40%;
            margin: 20px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1680px) and (min-width: 1600px) {

  section {

    &.cryptoHome {

      .cryptoMarkets {

        ul {
          display: flex;
          flex-direction: column;

          li {
            width: 40%;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
  section {
    &.cryptoHome {
      .cryptoMarkets {
        margin-top: 80px;

        h1 {
          font-size: 36px;
        }
      }
    }
    &.prices {
      padding-top: 100px;

      .priceText {
        width: auto;
        padding: 0 30px 0 30px;
      }
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

  section {

    &.cryptoHome {

      .cryptoMarkets {

        margin-top: 100px;

        h1 {
          width: 100%;
          font-size: 36px;
          margin-bottom: 160px;
        }

        ul {

          li {
            width: 60%;

            a {
              color: black;
            }
          }
        }
      }
    }

    &.pricingType {

      .checkPrice {

        ul {

          li {
            .radioButtons {

              .checkContainer {
                font-size: 25px;

                input:checked ~ .checkmark {
                  margin-top: unset;
                }
                .checkmark {
                  top: 0;
                }
              }

              .rightSide {
                font-size: 20px;
              }
            }
          }
        }
      }
    }

    &.asweredQuest {
      margin-bottom: 80px;
    }

    &.tutorials {

      .tuotrialsPart {
        height: auto;

        .boxContent {

          h5 {
            height: auto;
            margin-bottom: 30px;
            font-size: 20px;
          }

          p {
            height: auto;
            margin-bottom: 30px;
            font-size: 14px;
          }
        }
      }
    }

    &.cryptocurrency {
      .newToCryptocurrency {
        p {
          height: auto;
          padding: 20px;
          font-size: 12px;
        }
        a {
          height: auto;
          font-size: 18px;
        }
      }
    }

  }

  .main-navbar {
    height: auto;
    text-align: center;
  }

  .sectionTitle {
    padding-top: 100px;

    h1 {
      font-size: 35px;
    }
    p {
      font-size: 25px;
    }
  }

}

@media screen and (max-width: 992px) and (min-width: 768px) {

  section {

    &.cryptoHome {

      .cryptoMarkets {
        width: 100%;

        h1 {
          font-size: 36px;
          text-align: center;
        }
        ul {

          li {
            width: 50% !important;
            a {
              color: black;
            }
          }
        }
      }
    }

    &.prices {
      padding-top: 100px;

      .groupImage {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
      }
      .priceText {
        width: auto;
      }
    }

    &.join-us {
      .subscribe {
        form {
          width: auto;
        }
      }
    }

    &.pricingType {
      margin-top: 80px;

      .checkPrice {
        ul {
          li {
            .radioButtons {
              flex-direction: column;

              .checkContainer {
                font-size: 25px;

                input:checked ~ .checkmark {
                  margin-top: unset;
                }
                .checkmark {
                  top: 0;
                }
              }

              .rightSide {
                font-size: 20px;
              }
            }
          }
        }
      }
    }

    &.asweredQuest {
      margin-bottom: 80px;
    }

    &.newsPost {

      .mainPost {
        min-height: auto;

        .post {
          padding: 1.5rem 1rem;

          .post__title{
            height: auto;
            font-size: 25px;
          }

          .post__context {
            padding: unset;
          }

          .post__author{
            flex-direction: column;

            .post__date{
             width: 100%;
              text-align: left;
            }
          }
        }
      }
    }
  }
  .main-navbar {
    height: auto;
    ul {
      li {
        margin: 0 11px;
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1400px) {

  section{

    &.newsPost {
      .post {
        .post__title{
          height: auto;
          font-size: 30px;
        }
      }
    }

    &.page-wrap {
      .sectionTitle{
        width: 65%;
      }
    }

    &.cryptocurrency {

      .newToCryptocurrency {
        p {
          height: auto;
          padding: 20px;

          font-size: 15px;
        }
        a {
          height: auto;
          font-size: 20px;
        }
      }
    }

  }
}